@model List<Movie>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                List of Movies
            </h2>
        </div>
    </div>
    
    <form method="post" asp-action="Create" class="mb-4">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="name" class="form-label">Movie Name</label>
                    <input type="text" class="form-control" id="name" name="Name" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="Description" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="released" class="form-label">Release Date</label>
                    <input type="number" class="form-control" id="released" name="Released" required />
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" name="action" value="add">Add Movie</button>

        <a asp-controller="Movie" asp-action="Index" class="btn btn-secondary ms-2">Back to List of Movies</a>
    </form>
</div>
